@import '../../../styles/mixins.scss';

.column {
  flex-shrink: 0;
  width: calc(33% - 1rem);
  background: var(--color-grey);
  margin: 0 1rem 1rem 0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: var(--color-light);

  @include md-max {
    width: 100%;
  }

  &:last-child {
    margin: 0 0 1rem 0;
  }

  .title {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    background-color: var(--color-dark);
    border-radius: 12px 12px 0 0;
    @include flex(row, center, center);
    gap: 1.5rem;
  }
}

.icon > * {
  color: var(--color-blue-light);
  vertical-align: middle;
}
