@import '../../../styles/mixins.scss';

.component {
  @include flex(column, flex-start, flex-start);
  width: 100%;
  color: var(--color-light);
  padding: 20px 0;
  border-bottom: 1px solid var(--color-main);

  @include lg-max {
    @include flex(row, center, center);
    padding: 10px 0;
    width: auto;
    flex-wrap: wrap;
    border-bottom: none;
  }

  @include md-max {
    @include flex(column, stretch, space-around);
    gap: 20px;
    width: 100%;
    border-bottom: 1px solid var(--color-main);
  }

  a {
    @include flex(row, center, flex-start);
    gap: 10px;
    padding: 0px 25px;
    width: 100%;
    height: 60px;
    color: var(--color-light);
    transition: 0.3s ease;

    @include lg-max {
      padding: 0 15px;
    }

    &:hover {
      background-color: lighten($color: #080808, $amount: 5%);
      border-left: 5px solid var(--color-main);

      @include lg-max {
        border-left: none;
      }
    }

    &.active {
      background-color: lighten($color: #080808, $amount: 10%);
      border-bottom: none;

      @include lg-max {
        border-bottom: 2px solid var(--color-main);
      }

      @include md-max {
        border-left: 5px solid var(--color-main);
        border-bottom: none;
      }
    }
  }

  .navLink {
    width: 100%;
    text-align: left;

    @include lg-max {
      width: auto;
      text-align: center;
    }
  }

  .mark {
    @include flex(row, center, center);
    padding-bottom: 2px;
    font-size: 1.2rem;
  }

  span {
    font-size: 1.1rem;
    display: inline-block;
  }
}
