@import '../../../styles/mixins.scss';

.list {
  padding: 0 1rem;
}

.creator {
  width: 33%;
  margin: 2rem auto 0;
}

.columns {
  @include flex(row, flex-start, stretch);
  overflow: auto;
}

@include md-max {
  .columns {
    flex-direction: column;
    overflow: hidden;
  }

  .creator {
    width: 100%;
  }
}
