@import '../../../styles/mixins.scss';

.list {
  padding: 1rem;
  @include flex(row, flex-start, space-between);
  overflow: auto;

  @include md-max {
    .columns {
      flex-direction: column;
      overflow: hidden;
    }

    .creator {
      width: 100%;
    }
  }
}

.columns {
  @include flex(row, flex-start, space-between);
  overflow: auto;
}
