@import '../../../../styles/mixins.scss';

.component {
  @include btn;
  background-color: var(--color-dark);
  color: var(--color-light);
  width: 100%;
  border-radius: 0px;

  &:hover {
    background: var(--color-danger);
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
