@import '../../../styles/mixins.scss';

.navigation {
  position: fixed;
  left: 0;
  width: 250px;
  height: 120svh;
  background-color: var(--color-dark);
  padding: 17px 0;
  transition: transform 0.3s ease-in-out;
  @include flex(column, center, flex-start);
  z-index: 999;

  @include lg-max {
    top: 0;
    width: 100%;
    height: auto;
    padding: 0 20px;
    @include flex(row, center, space-between);
  }

  @include md-max {
    top: 65px;
    height: 100%;
    @include flex(column, center, flex-start);
    padding: 30px 20px;
    transform: translateY(90%);
    gap: 20px;

    &.open {
      transform: translateY(0);
      z-index: 9999;
    }

    &.close {
      transform: translateY(100%);
    }
  }
}

.toggleButton {
  display: none;
  position: absolute;
  border: none;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-dark);
  color: var(--color-light);
  font-size: 2rem;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  cursor: pointer;

  @include md-max {
    display: block;
  }

  &:hover {
    color: var(--color-primary);
  }
}

.logoWrap {
  margin: 17px 0;

  img {
    height: 55px;
  }

  h1 {
    font-size: 25px;
  }

  @include lg-max {
    margin: 0;
  }
}

.cockpit {
  flex: 1;
  margin-left: 250px;
  width: calc(100vw - 267px);
  padding: 17px 17px 0 17px;
  color: var(--color-dark);

  @include lg-max {
    margin-left: 0;
    width: 100%;
    padding-top: 97px;
  }

  @include md-max {
    padding-top: 17px;
  }
}

.layoutWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .logoWrap {
    cursor: pointer;
    color: var(--color-light);

    img {
      height: 55px;
    }

    h1 {
      font-size: 25px;
    }
  }
}
