@import '../../../styles/mixins.scss';

.navigation {
  position: fixed;
  left: 0;
  width: 250px;
  height: 120svh;
  background-color: var(--color-dark);
  padding: 17px 0;
  transition: transform 0.3s ease-in-out;
  @include flex(column, center, flex-start);
  z-index: 9999;

  @include lg-max {
    top: 0;
    width: 100%;
    height: auto;
    padding: 0 20px;
    @include flex(row, center, space-between);
  }

  @include md-max {
    height: 100vh;
    @include flex(column, flex-start, center);
    flex-wrap: wrap;
    transform: translateY(90vh);
    gap: 20px;
    z-index: 9999;
    width: 100%;

    &.open {
      transform: translateY(0);
    }
  }
}

.toggleButton {
  display: none;
  position: absolute;
  border: none;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: var(--color-dark);
  color: var(--color-light);
  cursor: pointer;
  z-index: 99999;
  font-size: 1.5rem;
  height: 10vh;

  @include md-max {
    @include flex(row, center, center);
  }

  &:hover {
    color: var(--color-primary);
  }

  div {
    @include flex(row, center, center);
    gap: 20px;
  }
  p {
    font-size: 1rem;
  }
}

.logoWrap {
  img {
    height: 55px;
  }

  h1 {
    font-size: 25px;
  }

  @include lg-max {
    margin: 0;
  }
}

.cockpit {
  flex: 1;
  margin-left: 250px;
  width: calc(100vw - 267px);
  padding: 17px 17px 0 17px;
  color: var(--color-dark);

  @include lg-max {
    margin-left: 0;
    width: 100%;
    padding-top: 97px;
  }

  @include md-max {
    padding-top: 17px;
  }
}

.layoutWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .logoWrap {
    cursor: pointer;
    color: var(--color-light);

    img {
      height: 55px;
    }

    h1 {
      font-size: 25px;
    }
  }
}
