@import '../../../styles/mixins.scss';

.searchResult {
  width: 100%;
  @include flex(column, flex-start, center);
  gap: 20px;
}

.searchResult {
  margin-top: 20px;
}

.columnGroup {
  margin-bottom: 20px;
}

.columnTitle {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.cardList {
  list-style-type: none;
  padding-left: 0;
}

.cardItem {
  padding: 5px 0;
}
