@import '../../../styles/mixins.scss';

.searchResult {
  position: absolute;

  width: calc(100% - 60px);
  background-color: var(--color-light);
  top: 100%;
  right: 0;
  z-index: 999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 90vh;
  overflow-y: auto;
  border: 1px solid var(--color-dark-grey);
  border-radius: 4px;
  padding: 10px 1rem;

  .columnGroup {
    @include flex(row, center, flex-start);
    gap: 20px;
  }

  .cardList {
    @include flex(row, center, flex-start);
    flex-wrap: wrap;
    gap: 10px;
  }
}
